.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/vcs.xml
/backend/build/classes/endpointsSrc/com/joke/endpoint/backend/myApi/MyApi.class
/backend/build/classes/endpointsSrc/com/joke/endpoint/backend/myApi/model/MyBean.class
/backend/build/classes/endpointsSrc/com/joke/endpoint/backend/myApi/MyApi$GetJoke.class